<div class="navbar navbar-default p6">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav nav-tabs no-border">
          <li class="<%= active('traffics') %>" ><%= link_to ENV['APP_NAME'], root_url %></li>
          <%= render 'layouts/partial/login_bar' %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
