<div class="panel panel-info hide">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <div class='pie-chart'>
          <div id="piechart-graph"></div>
        </div>
      </div>
      <div class="col-sm-7">
        <table id='piechart-table' class="table table-striped">
          <thead>
            <td>Status</td>
            <td>Call(s)</td>
            <td>Percentage(%)</td>
            <td>Second(s)</td>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
