<div class="panel panel-info hide">
  <div class="panel-body">
    <div class="row">
      <!-- <div class="col-sm-5"></div> -->
      <div class="col-sm-8">
        <div class='pie-chart'>
          <div id="piechart-call-flow-summary"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <table id='table-call-flow-summary' class="table table-striped">
          <thead>
            <td>Step</td>
            <td>Call(s)</td>
            <td>Percentage(%)</td>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
