<div class="panel panel-info hide">
  <div class="panel-body">
    <div class='row'>
      <div class="col-sm-12 line-chart">
        <div id="linechart"></div>
      </div>
    </div>
  </div>
</div>
