<!-- load library google visualization api -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', "1", {packages: ['line']});
  google.load("visualization", "1", {packages:["corechart"]});
</script>

<div class='row'>
  <div class='col-sm-12'>
    <div class="alert alert-danger alert-dismissable" style="display:none;">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <p>Channel and date range are required</p>
    </div>
  </div>
</div>

<%= render 'filter' %>
<%= render 'line_chart' %>
<%= render 'call_flow_graph' %>
<%= render 'call_status_summary' %>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="panel-body">
          <div class='action list-group'>
            <a href="#" id='this_week' class='list-group-item no-border'>This week</a>
            <a href="#" id='this_month' class='list-group-item no-border'>This month</a>
            <a href="#" id='previous_month' class='list-group-item no-border'>Previous month</a>
            <a href="#" id='custom_range' class='list-group-item no-border'>Custom range</a>
            <div class='action'>
              <input type="text" class='form-control calendar pull-left' id='fromDate' style='width:46%; margin:4px;' placeholder="From" readonly />
              <input type="text" class='form-control calendar pull-left' id='toDate' style='width:46%; margin:4px;' placeholder="To" readonly />
            </div>
          </div>
          <div class='p10' style='clear:both;'>
            <button class='btn btn-sm btn-primary daterange-confirm'>OK</button>
          </div>
        </div>
    </div>
  </div>
</div>
